<form [formGroup]="range" (ngSubmit)="onsub()">
    <div class="form">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" type="submit">
            Submit
        </button>
    </div>
</form>