<button
    mat-raised-button
    color="accent"
    routerLink="/eventcreate"
    class="createbtn"
  >
    Create New
  </button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- titre Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <!-- dateDebut Column -->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Date Debut</th>
      <td mat-cell *matCellDef="let element">{{ element.start }}</td>
    </ng-container>

    <!-- dateFin Column -->
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef>Date Fin</th>
      <td mat-cell *matCellDef="let element">{{ element.end }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>