<form [formGroup]="form" (ngSubmit)="onSub()">
  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>CIN</mat-label>
      <input matInput formControlName="cin" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>CV</mat-label>
      <input matInput formControlName="cv" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <input matInput formControlName="type" />
    </mat-form-field>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      class="submutbtn"
      type="submit"
      onclick="openDialog('0ms', '0ms')"
      on
    >
      Submit
    </button>
  </div>
</form>
